<tr id="<%=problem.id  %>">
    <td align="center"><%= problem.code %></td>
    <td align="center"><%= problem.name %></td>
    <td align="center"><%= controller.countsol(problem) %></td>    
    <td align="center">
    <% if current_user != nil%>
       <% if controller.is_marked(problem) %>
         <% if controller.problem_solved(problem)%>
            Solved |
         <% else %>
            Give it a try |
         <% end %>
      <% else %>
         <%= link_to 'Mark', mark_problem_path(problem), :remote => true%> |
     <% end %>
    <% end %>
    <%= link_to 'Show', problem %>
    <% if current_user != nil and current_user.user_group == 'administrator' %>
    | <%= link_to 'Edit', edit_problem_path(problem) %>
    | <%= link_to 'Destroy', problem ,method: :delete, :remote => true ,data: { confirm: 'Are you sure?' } %></td>
    <% end %>
</tr>
