<br >
<h1>Listing problems</h1>

<br ><br >
<div id="problems">
<table id="table">
<% if current_user != nil and current_user.user_group == "administrator" %>
   <%= link_to 'New Problem', new_problem_path %>
   <br /><br />
<% end %>

<% if @problems.size > 0  %>
    <% @problems.each do |problem|%>
    
    <% problem.solutions do |solution| %>
    <p> Sirvo</p>
    <%= solution.user %>
    <%= current_user %>
    
    <% end %>
    <% end %>

<table border="1"> 
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Submissions</th>
    <th>Options</th>
  </tr>

<tbody id="body_problems">
<%= render @problems %>
</tbody>

</table>
<% else %>
<p> There are no problems to list.</p>
<% end %>
</table>
</div>
<br />

