<br >

<h1>Problem Detail</h1>
<br >

<% if current_user != nil%>

<% if current_user.user_group == "administrator" %>
   <%= link_to 'Edit', edit_problem_path(@problem) %> |
<% end%>
<%= link_to 'Submissions', problem_solutions_path(@problem) %> |
<%= link_to 'Top Users', top_users_problem_path(@problem) %>
<% end %>
<br ><br >

<p>
  <b>Name:</b>
  <%= @problem.name %>
</p>

<p>
  <b>Code:</b>
  <%= @problem.code %>
</p>

<p>
  <b>Description:</b>
  <%= @problem.description %>
</p>

<p>
  <b>Input:</b>
  <%= @problem.input %>
</p>

<p>
  <b>Output:</b>
  <%= @problem.output %>
</p>



<%= link_to 'Back', request.referer %>

