<br >
<h1>Listing Top Users </h1>

<br ><br >
<% if @solutions.size < 1 %>
   <p>Without submissions there can not be top users. Be the first one!</p>
<% else %>

<table border="1">
  <tr>
    <th>Username</th>
    <th>Status</th>
    <th>Total Submissions</th>
  </tr>

<% @solutions.each do |solution| %>
  <tr>
    <td align="center" ><%= solution.user.username %></td>
    <td align="center"><%= solution.status %></td>
    <td align="center"><%= controller.countsol(solution.user) %></td>
  </tr>
<% end %>
</table>

<br >
<% end %>
<%= link_to 'Back', request.referer  %>
<br />


