

	  <%= form_for(@user) do |f| %>
	  <% if @user.errors.any? %>
		  <div id="error_explanation">



		    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
		    
		    <ul>
		      <% @user.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		      
		  </div>

	    <% end %>
	    </ul>

	  <% end %>
  
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
	      <div style="clear: both;">&nbsp;</div>
