<br >
<h1>Listing users</h1>
</br>
<br >
<br >
<% if current_user != nil and current_user.user_group == "administrator" %>
<%= link_to 'New User', new_user_path %>
</br>
</br>
<% end %>

<table border="1">
  <tr>
    <th>Username</th>
    <th>Type</th>
    <th>Sumissions</th>
    <th>Options</th>
  </tr>
  
  <% @users.each do |user| %>
  <tr>
    <td align="center"><%= user.username %></td>
    <td align="center"><%= user.user_group %></td>
    <td align="center"><%= controller.countsol(user) %></td>
    <td align="center"><%= link_to 'Show', user %> 
      <% if current_user.user_group == 'administrator' %>
      | <%= link_to 'Edit', edit_user_path(user) %>
      | <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
  
  <% end %>
</table>



<div style="clear: both;">&nbsp;</div>

