<br >
<h1>Profile - <%= @user.username %></h1>

<br >
<% if current_user == @user %>
   <%= link_to 'Edit', edit_user_path(@user) %>
   | <%= link_to 'Submissions', user_solutions_path(@user)%>
<% elsif current_user.user_group == "administrator" %>
   <%= link_to 'Submissions', user_solutions_path(@user)%>
<% end %>



<br /><br >

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
	  
<p>
  <b>Type:</b>
  <%= @user.user_group %>
</p>


<br />

<%= link_to 'Back', request.referer %>

