# -*- coding: utf-8

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- WHAT THE HELL -->
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Adaptacion de Elegant Blue FTC</title>
<!-- :( TRISTEZA PURA, NO SE QUE HACE -->
<link href="scaffolds.css.scss" rel="stylesheet" type="text/css" media="screen" />
</head>
<div class="post">
  <h1>Joal Home</h1>
  <p>Welcome to Joal! :)</p> 
</div>
<div style="clear: both;">&nbsp;</div>
  <!-- end #page -->  
</html>
