<%= form_for([@solution.problem,@solution]) do |f| %>
  <% if @solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% f.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Solution file" %>
    <%= f.file_field :path %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
