<br >
<h1>Listing solutions</h1>


<br ><br >
<% if @problem %>
    <% if controller.is_marked(@problem) == true %>
     <%= link_to 'New Solution', new_problem_solution_path %>
     <br /><br />
    <% end %>

<% end %>

<% if @solutions.size > 0 %>

<% if @user && (current_user != @user || current_user.user_group != "administrator") %>
   <p>You may not see other competitors submissions</p>
<% else %>

<table id="table", border=1>
  <tr>
    <th>Code</th>
    <th>Status</th>
    <th>Problem</th>
<% if @problem %>
    <th>User</th>
<% end %>
    <th>Options</th>
  </tr>

<% @solutions.each do |solution| %>
  <% if @problem  %>

  <% if  solution.status.to_s != "not tried" %>
    <tr id="<%=solution.id  %>">
      <td align="center"><%= solution.id %></td>
      <td align="center"><%= solution.status %></td>
      <td align="center"><%= solution.problem.name %></td>
      <td align="center"><%= solution.user.username %></td>
      <td align="center"><%= link_to 'Show', problem_solution_path(@problem,solution) %>
      <% if current_user != nil and current_user.user_group == 'administrator' %>
      | <%= link_to 'Destroy', problem_solution_path(@problem,solution) , method: :delete, :remote => true, :confirm => 'Are you sure?' %></td>
    <% end %>

  <% end %>
    </tr>
  <% elsif @user && current_user == solution.user %>
     <tr>
       <td align="center"><%= solution.id %></td>
       <td align="center"><%= solution.status %></td>
       <td align="center"><%= solution.problem.name %></td>
       <td align="center"><%= link_to 'Show', user_solution_path(@user,solution) %>
       <% if current_user != nil and current_user.user_group == 'administrator' %>
       | <%= link_to 'Destroy', user_solution_path(@user,solution), method: :delete,:remote => true, data: {confirm: 'Are you sure?'}%></td>
       <% end %>
     </tr>

  <% end %>

<% end %>
</table>

<%end%>

<% elsif @problem %>
   <p>There are no solutions to list. Please submit one!</p>
<% elsif @user %>
   <% if @user == current_user %>
      <p>You have not submitted any solutions.</p>
   <% else %>
      <p>No solutions to list for now.</p>
   <% end %>
<% end %>

<br />

<div id="test">
</div>

<%= link_to 'Back', request.referer  %>
