<h1> Solution Detail </h1>

<br >

<p>

  <b>Status:</b>
  <%= @solution.status %>
</p>

<p>
  <b>Owner:</b>
  <%= @solution.user.username unless @solution.user.nil? %>
</p>

<p>
  <b>Problem:</b>
  <%= @solution.problem.name %>
</p>

<p>
  <b>Date:</b>
  <%= @solution.created_at %>
</p>
<pre class="brush: ruby">
<%= dump_file(@solution.path)   %>
</pre>
<%= link_to 'Back', problem_solutions_path(@solution.problem) %>
