<!DOCTYPE html>
<html>
<head>

<!-- FONT HERMOSO REVISAR SI NECESITA INTERNET-->
<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>

<div id="sidebar">
  <ul>
    <% if current_user %>
    <li> <h2> <%= current_user.username %> </h2></li>
    <ul>
      <li> <a> <%= link_to "Profile", current_user%></a></li>
      <li> <a> <%= link_to "Logout", :logout%></a></li>
    </ul>
    <% else %>
    <li><h2> <%= link_to "Register", new_user_path%> </h2></li>
    <li><h2> <%= link_to "Login", :login %></h2></li>
    <% end %>
  </ul>	      
</div>  

</body>

</html>
